/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav ul li a {
  color: #3f599b;
}

nav ul li a:hover {
  color: #305ac7;
}

ul.nav {
  color: #3f599b;
}

.float-right .nav-item a.active {
  background-color: #3f599b;
}

h1 {
  font-size: 3rem !important;
  font-family: 'Roboto Mono', serif;
}

h2 {
  padding-bottom: 15px;
  font-family: 'Open Sans', serif;
  font-size: 22pt;
}

h4 {
	font-family: 'Roboto Mono', strong;
  font-size: 16pt;
  color: #616161;
}

p a {
  color: #4278a5;
}

p a:hover {
  color: #0059a3;
}

p code {
  color: #4278a5;
}

.my-photo {
  border-radius: 50%;
  width: 22%;
  float: left;
  margin-right: 30px;
}

.about-me {
  padding-bottom: 15px;
}

div.row h4 a {
  color: #616161;
}

.row .tech-law-policy {
  margin-left: 0px;
  margin-right: 0px;
}

.row .relevant-projects {
  margin-left: 0px;
  margin-right: 0px;
}

.row .music-and-leadership {
  margin-left: 0px;
  margin-right: 0px;
}

.row .music-and-leadership p a:hover {
  text-decoration: none;
}

.lead a:hover {
  text-decoration: none;
}

.description a:hover {
  text-decoration: none;
}

.float-right a:hover {
  text-decoration: none;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #b5b5b5;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #b5b5b5;
}

/* Customize container */
@media (min-width: 64em) {
  .container {
    max-width: 62rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Biggest phones and down */
@media only screen and (max-width: 71.25em) {
  
  .about-me {
    margin-top: 2rem;
  }

  .my-description h1 {
    font-size: 2.2rem !important;
  }
}



/* SOCIAL MEDIA BUTTONS
-------------------------------------------------- */

/* Style all font awesome icons */
.fa {
  padding: 8px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-envelope {
  background: #4286f4;
  color: white;
}
