/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0.6) 100%), url('hands.png');
}

nav ul li a {
  color: #9b3f52;
}

nav ul li a:hover {
  color: #bc2341;
}

ul.nav {
  color: #9b3f52;
}

.float-right .nav-item a.active {
  background-color: #9b3f52;
}

h1 {
  font-family: 'Cabin Sketch', serif;
}

h2 {
  padding-bottom: 15px;
  font-family: 'Cabin Sketch', serif;
}

h4 {
	font-family: 'Crimson Text', strong;
  color: #9b3f52;
}

p a {
  color: #4278a5;
}

p a:hover {
  color: #0059a3;
}

img.my-photo {
  border-radius: 50%;
  width: 22%;
  float: left;
  margin: 20px 20px 0 0;
}

div.me {
  padding: 0 0 15px 0;
}

div.row h4 a {
  color: #9b3f52;
}

.row .music-and-leadership-content {
  margin-left: 0px;
  margin-right: 0px;
}

.lead a:hover {
  text-decoration: none;
}

.description a:hover {
  text-decoration: none;
}

.float-right a:hover {
  text-decoration: none;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #b5b5b5;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #b5b5b5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* SOCIAL MEDIA BUTTONS
-------------------------------------------------- */

/* Style all font awesome icons */
.fa {
  padding: 8px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-envelope {
  background: #4286f4;
  color: white;
}
